<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="~/Content/css/Estilos.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="container @ViewData["MostrarRegistro"]" id="container">
        @{ Html.RenderPartial("_Register");}

        <div class="form-container sign-in">
            <form action="@Url.Action("Login","Acceso")" method="post">
                <h1>UTMACH</h1>
                <label id="lbUsuario">Usuario:</label>
                <input type="text" name="Correo" placeholder="Correo">

                <label id="lbPassword">Contraseña:</label>
                <input type="password" name="Clave" placeholder="Contraseña">
                @if (ViewData["MensajeLogin"] != null)
                {
                    <div class="alert-danger" role="alert">
                        @ViewData["MensajeLogin"]
                    </div>
                }

                <button type="submit" name="button">Iniciar Sesion</button>

                <a id="register" href="#"> CREAR UNA CUENTA</a>
                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">OLVIDO SU CONTRASEÑA?</a>
            </form>

        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <img src="~/Imagenes/logoPY.png">
                    <button class="hidden" id="login">Volver</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <img src="~/Imagenes/logoPY.png">
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/js/script.js"></script>
</body>
</html>
