.Principal {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    background: #FAC710;
}

.Principal form {
    flex: 4;
    align-content:center;
    justify-items:center;
}
.form-horizontal {
    display: flex;
    flex-direction: column;
    background: white;
    height: 200px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap:5px;
}


.form_btn {
    background:aqua;
    height:60px;
}