@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="Cont_Header">
    <h2>
        CLIENTE
    </h2>
    <input type="search" placeholder="Buscar">
</div>
<div class="Cont_Cuerpo">
    <div class="Cont_Tabla">
        <table>
            <thead>
                <tr>
                    <th> A</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>s</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="Cont_Botones">
        <button>Ingresar</button>
        <button>Modificar</button>
        <button>Eliminar</button>
    </div>
</div>
