@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="Contenedor_Tema">
    <h1>CONSTRUCTORA UTMACH</h1>
</div>
<div class="Contenedor">
    <div class="caja">
        <i class="fa-solid fa-user"></i>
        <h1>PERSONAL</h1>
        <label>100</label>
    </div>
    <div class="caja">
        <i class="fa-solid fa-address-book"></i>
        <h1>CONTACTOS</h1>
        <label>200</label>
    </div>
    <div class="caja">
        <i class="fa-solid fa-list-check"></i>
        <h1>PROYECTOS</h1>
        <label>5</label>
    </div>
</div>
<div class="Contenedor_Tabla">
    <h2>
        TAREAS
    </h2>
    <table>
        <tr>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>F</th>
        </tr>
        <tr>
            <td>XD</td>
            <td>XD</td>
            <td>XD</td>
            <td>XD</td>
            <td>XD</td>
        </tr>
        <tr>
            <td>XD</td>
            <td>XD</td>
            <td>XD</td>
            <td>XD</td>
            <td>XD</td>
        </tr>

    </table>
</div>
